<a href="https://colab.research.google.com/github/RUDHRA108/MEGH/blob/main/meghana_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#input two numbers to find the equivalent of two numbers#
a=int(input('enter first number :'))
b=int(input('enter second number:'))
if(a>b):
  print('a is greatest:')

elif(b>a):
  print('b is greatest')
elif(a==b):
  print('all are equal')

enter first number :55
enter second number:78
b is greatest

In [ ]:
tth=foh=toh=oh=fif=twt=ten=five=two=one=0
amt=int(input("enter amount is rupees"))
if(amt>=2000):
    tth=amt//2000
    amt=amt%2000
print("2000=",tth)
if(amt>=500):
    foh=amt//500
    amt=amt%500
print("500=",foh)
if(amt>=200):
    toh=amt//200
    amt=amt%200
print("200=",toh)
if(amt>=100):
    oh=amt//100
    amt=amt%100
print("100=",oh)
if(amt>=50):
    fif=amt//50
    amt=amt%50
print("50=",fif)
if(amt>=20):
    twt=amt//20
    amt=amt%20
print("20=",twt)
if(amt>=10):
    ten=amt//10
    amt=amt%10
print("10=",ten)
if(amt>=5):
    five=amt//5
    amt=amt%5
print("5=",five)
if(amt>=2):
    two=amt//2
    amt=amt%2
print("2=",two)
if(amt>=1):
    one=amt//1
    amt=amt%1
print("1=",one)

enter amount is rupees548758
2000= 274
500= 1
200= 1
100= 0
50= 1
20= 0
10= 0
5= 1
2= 1
1= 1

In [ ]:
#swapping of two numbers without using 3rd variable#

x = 5
y = 7

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)

# code to swap 'x' and 'y'
x, y = y, x

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  7
After swapping:
Value of x :  7  and y :  5

In [ ]:
#swapping of two numbers without using 3rd variable#
a=int(input("enter value of A:"))
b=int(input("enter value of B:"))
print("A = {} and B = {}".format(a,b))
a=a+b
b=a-b
a=a-b
print("now,A = {} and B = {}".format(a,b))

enter value of A:1
enter value of B:2
A = 1 and B = 2
now,A = 2 and B = 1

In [ ]:
#swapping of two numbers without using 3rd variable#
a=int(input("enter value of A:"))
b=int(input("enter value of B:"))
print("before swapping ,A = {} and B = {}".format(a,b))
a=a+b
b=a-b
a=a-b
print("after swapping ,A = {} and B = {}".format(a,b))

enter value of A:75
enter value of B:95
before swapping ,A = 75 and B = 95
after swapping ,A = 95 and B = 75

In [ ]:
#input radius and find the area of circle#

# Import the 'pi' constant from the 'math' module to calculate the area of a circle
from math import pi

# Prompt the user to input the radius of the circle
r = float(input("Input the radius of the circle : "))

# Calculate the area of the circle using the formula: area = Ï€ * r^2
area = pi * r ** 2

# Display the result, including the radius and calculated area
print("The area of the circle with radius " + str(r) + " is: " + str(area))

Input the radius of the circle : 5.5
The area of the circle with radius 5.5 is: 95.03317777109125

In [ ]:
#input radius and find the area of circle#
PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI * r * r
print("Area of a circle = %.2f" %area)

Enter the radius of a circle:5.4
Area of a circle = 91.56

In [ ]:
a=input('Enter Name:')

NameError: name 'Meghana' is not defined

LOOPS:
"FOR AND WHILE"
for variable in range
1)starting loop
2)ending value(excluding)
3)step value(optional by defualt 1)
for loop (syntax)
for variable in range(starting val,ending val, step val{is optional}
statement 1
.
.
.
.
.
statement n
eg:
v in range(1,20,1)
.
.
.
.
.
10

print
for v in range(10,0,-1):
print(v)
output:
10
9
8
.
.
.

1)Table of n

**TABLE OF N**

In [ ]:
number=int(input("enter a number:"))
for count in range(1,11):
  print(number,'x',count,'=',number*count)

enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
a=0
b=1
c=0
for i in range(0,20):
  print("the fibonacci series c")
  a=b
  b=c
  c=a+b

the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c
the fibonacci series c

In [ ]:
a=b
b=c
c=a+b
for i in range(0,20):
  print("the fibonacci series b")
  a=b
  b=c
  c=a+b

the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b
the fibonacci series b

In [ ]:
s=0
n=int(input("input a number:"))
for i in range(1,n+1):
  s=s+pow(i,i)
  print("sum=",s)
  s=s+i

input a number:7
sum= 1
sum= 6
sum= 35
sum= 294
sum= 3423
sum= 50084
sum= 873633

Q)input n & find no's is prime or odd?
       |s%1=0
       |s%2=0
       |s%3=0
 s-----|s%4=0
       |s%5=0
       |s%6=0

In [ ]:
n=int(input("enter a number you want to check if its prime or not:"))
if(a/2==0):
  print("the number you entered is not prime")
else :
  print("the number you entered is prime")

enter a number you want to check if its prime or not:5
the number you entered is prime

In [ ]:
a=1
while a<=20:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
a=5
while a>=5:
  print(a)
  a=a-1

5

enter first 10 odd numbers

In [ ]:
print("the first 10 odd numbers using while loop:")
a=0
while a<=10
if()

Q)input a no n and find the sum of the digits
eg:123
should print 1+2+3=6

you can use n//10-----> the last digit gets erased eg.12//10 will give us 1 insted of 1.2

**RULES**
n//10=no.remins without last digit
n%10=lost digit
n//100=no remains without last 2digits
n%10=lost 2digit
--------------------------------------
small//large=0
small%large=small

In [ ]:
s=0
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  s=s+d
  n=n//10
  print("sum of digits ",s)

enter n digit no.:5
sum of digits  5

In [ ]:
s=7
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  s=s+d
  n=n//10
  print("sum of digits ",s)

enter n digit no.:5
sum of digits  12

In [ ]:
s=0
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  s=s+d
  n=n//10
  print("sum of digits ",s)
  s=0
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  s=s+d
  n=n//100
  print("sum of digits ",s)

enter n digit no.:5
sum of digits  5
enter n digit no.:6
sum of digits  6

In [ ]:
s=12345
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  s=s+d
  n=n//10
  print("sum of digits ",s)

enter n digit no.:5
sum of digits  12350

In [ ]:
s=12345
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  s=s+d
  n=n//10
  print("sum of digits ",s)
  s=0
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  s=s+d
  n=n//100
  print("sum of digits ",s)

enter n digit no.:5
sum of digits  12350
enter n digit no.:5
sum of digits  5

In [ ]:
r=0
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  r=r*10+d
  n=n//10
  print("revert=",r);

enter n digit no.:5
revert= 5

In [ ]:
r=6
n=int(input("enter n digit no.:"))
while n>0:
  d=n%10
  r=r*10+d
  n=n//10
  print("revert=",r);

enter n digit no.:5
revert= 65

 **Python program to find the factorial of a number provided by the user**

 Python program to find the factorial of a number provided by the user.

In [ ]:
'''change the value for a different result'''
num = 7
''' To take input from the user'''
num = int(input("Enter a number: "))
factorial = 1
'''check if the number is negative, positive or zero'''
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 6
The factorial of 6 is 720

***Q)input number n & find the sum of first & last digit
hint:12345
sum=6***

In [ ]:
s=0
n=int(input("enter n digit no:"))
s=s+n%10
while(n > 10):
     n=n//10
     s=s+n
      print("sum of first & last digit=",s)

IndentationError: unexpected indent (<ipython-input-54-1aba3d3a9ce9>, line 7)

**Q) input a number find number is an pallindrome or not?

In [ ]:
r=121
k=int(input("enter name or number:"))
if r==k:
  print("its a palindrome")
else:
  print("its not a palindrome")

enter name or number:121
its a palindrome

***NESTING OF LOOPS***
loops within a loop
outer loop=inner loop
for i in range(1,6):
for j in range (1,4):
print(i,j)

Q)
1234
1234
1234
1234

In [ ]:
for i in range (1,5):
  for j in range(1,5):
    print(j,end='\t')
    print()

1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4

Q)
1  2  3  4
5  6  7  8
9  10 11 12
13 14 15 16

In [ ]:
for i in range (1,16):
  for j in range(1,16):
    print(j,end='\t')
    print()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
for i in range (1,16):
  for j in range(1,16):
    print(i,end='\t')
  print()

1	1	1	1	1	1	1	1	1	1	1	1	1	1	1
2	2	2	2	2	2	2	2	2	2	2	2	2	2	2
3	3	3	3	3	3	3	3	3	3	3	3	3	3	3
4	4	4	4	4	4	4	4	4	4	4	4	4	4	4
5	5	5	5	5	5	5	5	5	5	5	5	5	5	5
6	6	6	6	6	6	6	6	6	6	6	6	6	6	6
7	7	7	7	7	7	7	7	7	7	7	7	7	7	7
8	8	8	8	8	8	8	8	8	8	8	8	8	8	8
9	9	9	9	9	9	9	9	9	9	9	9	9	9	9
10	10	10	10	10	10	10	10	10	10	10	10	10	10	10
11	11	11	11	11	11	11	11	11	11	11	11	11	11	11
12	12	12	12	12	12	12	12	12	12	12	12	12	12	12
13	13	13	13	13	13	13	13	13	13	13	13	13	13	13
14	14	14	14	14	14	14	14	14	14	14	14	14	14	14
15	15	15	15	15	15	15	15	15	15	15	15	15	15	15

***c=1
for i in range(1,5):
for j in range(1,5):
print(c,end='\t')
c=c+1
print()

Q)
1
12
123
1234

for i in range(1,5):
for j in range(1,i+1):
print(j,end='')
print()

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end='\t')
  print()

1
1	2
1	2	3
1	2	3	4

Q)
1
333
55555

In [ ]:
for i in range(1,6,2):
  for j in range(1,i+1,):
    print(i,end='\t')
  print()

1
3	3	3
5	5	5	5	5

Q)
      1
    1 2
  1 2 3
1 2 3 4

In [ ]:
for i in range(1,5):
  for m in range(5,i,-1):
    print('',end='\t')
  for j in range(1,i+1):
      print(j,end='\t')
  print()

				1
			1	2
		1	2	3
	1	2	3	4

In [ ]:
for i in range(1,5):
  for m in range(5,i,-1):
    print('',end='')
  for j in range(1,i+1):
      print(j,end='\t')
  print()

1
1	2
1	2	3
1	2	3	4

In [ ]:
for i in range(1,5):
  for m in range(5,i,-1):
    print( ' ',end=' \t ')
  for j in range(1,i+1):
      print(" * ",end=' \t ')
  print()

  	   	   	   	  *
  	   	   	  *  	  *
  	   	  *  	  *  	  *
  	  *  	  *  	  *  	  *

In [ ]:
for i in range(1,5):
  for m in range(5,i,-1):
    print("* ",end='')
  for j in range(1,i+1):
      print("* ",end='')
  print()

* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(1,5):
  for m in range(5,i,-1):
    print(' ',end='')
  for j in range(1,i+1):
      print("* ",end='')

  print()

    *
   * *
  * * *
 * * * *

In [ ]:
for i in range(1,50):
  for m in range(5,i,-1):
    print(' ',end='')
  for j in range(1,i+1):
      print("* ",end='')

  print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

import random
number = random,randint(1.5)

player_name = input("hello,what's your name?")
number_of_guesses=0
print('okay!'+player_name+ ' I am guessing a number between 1 and 5:')
while number_of_guesses<3:
guess=int(input("enter your guess number " + str(number_of_guesses+1)+" try: "))

number_of_guesses +=1
if guess<number:
print('your guess is too low')
if guess>number:
print('your guess is too high')
if guess==number:
break
if guess==number:
print('your guessed the number in' + str(number_of_guesses) + 'tries!')
else:
print('you did not guess the number,THE NUMBER WAS',NUMBER)

GUESS WORK
system=random no selection
(1,10)                                          7
secret                                              number==secret

In [ ]:
import random
number = random.randint (1,10)

player_name = input("hello,what's your name?")
number_of_guesses=0
print('okay!'+player_name+ ' I am guessing a number between 1 and 10:')
while number_of_guesses < 3:
  guess = int(input("enter your guess number " + str(number_of_guesses+1)+" try: "))
  number_of_guesses +=1
  if guess<number:
    print('your guess is too low')
  if guess>number:
      print('your guess is too high')
  if guess==number:
        break
if guess==number:
  print('your guessed the number in' + str(number_of_guesses) + 'tries!')
else:
  print('you did not guess the number,the number was ',number)

hello,what's your name?RUDHRA
okay!RUDHRA I am guessing a number between 1 and 10:
enter your guess number 1 try: 5
your guess is too high
enter your guess number 2 try: 3
your guess is too high
enter your guess number 3 try: 1
your guess is too low
you did not guess the number,the number was  2

In [ ]:
import random
number = random.randint (1,5)

player_name = input("hello,what's your name?")
number_of_guesses=0
print('okay!'+player_name+ ' I am guessing a number between 1 and 5:')
while number_of_guesses < 3:
  guess = int(input("enter your guess number " + str(number_of_guesses+1)+" try: "))
  number_of_guesses +=1
  if guess<number:
    print('your guess is too low')
  if guess>number:
      print('your guess is too high')
  if guess==number:
        break
if guess==number:
  print('your guessed the number in' + str(number_of_guesses) + 'tries!')
else:
  print('you did not guess the number,the number was ',number)

hello,what's your name?Rudhra
okay!Rudhra I am guessing a number between 1 and 5:
enter your guess number 1 try: 2
your guessed the number in1tries!

In [ ]:
import random
number = random.randint (1,100)

player_name = input("hello,what's your name?")
number_of_guesses=0
print('okay!'+player_name+ ' I am guessing a number between 1 and 100:')
while number_of_guesses < 3:
  guess = int(input("enter your guess number " + str(number_of_guesses+1)+" try: "))
  number_of_guesses +=1
  if guess<number:
    print('your guess is too low')
  if guess>number:
      print('your guess is too high')
  if guess==number:
        break
if guess==number:
  print('your guessed the number in' + str(number_of_guesses) + 'tries!')
else:
  print('you did not guess the number,the number was ',number)

hello,what's your name?meghana
okay!meghana I am guessing a number between 1 and 100:
enter your guess number 1 try: 55
your guess is too low
enter your guess number 2 try: 75
your guess is too high
enter your guess number 3 try: 65
your guess is too low
you did not guess the number,the number was  72

In [ ]:
String Operations:

isalpha(): checks if a characters in string are alphabets

isdigit(): checks if 1 characters in string are digits

isalnum(): checks if all characters in string are alphabets and digits

islower (): checks if all characters in string are lowercase alphabets

isupper(): checks if all characters in string are uppercase alphabets

startswith(): checks if string starts with a value

endswith(): checks if string ends with a value

conversion functions

upper () converts string to uppercase

lower() converts string to lowercase

capitalize() converts string to uppercase

swapcase() - swap cases in the string

search and replace string funtions

find() searches a value, returns its position

replace() replace one value with another

lstrip() trim the string from left

rstrip() trim the string from right

split() - split the string at a specified separator()

function returns a numeric string for its numeric argument
age = 25

print('she is' +str(age) +'years old')

chr() returns a string representing its unicode value

ord('A')

chr(65)

print("\"hello\"")

SyntaxError: invalid syntax (<ipython-input-72-ab91142917d1>, line 1)

In [ ]:
#String Operations:#
str_function = "isalpha(): checks if all characters in a string are alphabets"

print(str_function.isalpha())
isdigit() : checks if 1 characters in string are digits

isalnum() : checks if all characters in string are alphabets and digits

islower() : checks if all characters in string are lowercase alphabets

isupper() : checks if all characters in string are uppercase alphabets

startswith() : checks if string starts with a value

endswith() : checks if string ends with a value

conversion functions

upper () converts string to uppercase

lower() converts string to lowercase

capitalize() converts string to uppercase

swapcase() - swap cases in the string

search and replace string funtions

find() searches a value, returns its position

replace() replace one value with another

lstrip() trim the string from left

rstrip() trim the string from right

split() - split the string at a specified separator()

function returns a numeric string for its numeric argument
age = 25

print('she is' +str(age) +'years old')

chr() returns a string representing its unicode value

ord('A')

chr(65)

print("\"hello\"")

SyntaxError: expected 'else' after 'if' expression (<ipython-input-1-9620ed18e505>, line 5)

LIST

In Python, a list is a collection of items that can be of different data types.

APEND=TO ADD AT THE END

PUSH
POP
LIST

In [ ]:
marks=[98,90]
k=0
for i in range (0,4):
  k=input('enter new marks')
  marks.append(int (k))
print(marks)
for i in range(0,6):
    print(marks[i])
print("marks obtained after the grace number added")
for i in range(0,6):
     marks [i]+=1
     print(marks[i])

enter new marks90
enter new marks95
enter new marks89
enter new marks75
[98, 90, 90, 95, 89, 75]
98
90
90
95
89
75
marks obtained after the grace number added
99
91
91
96
90
76

In [ ]:
import random
a=[]
i=1
while(i<=20):
 num = random.randit (10,100)
 a.append(num)
 i=i+1
print(a)
for num in a:
  if num>20 and num<50:
    a.remove(num)
print(a)

AttributeError: module 'random' has no attribute 'randit'

***Write a python script to find greatest number in the list of integers given by user***

In [ ]:
list1=[5,6,9,8,10,22,69,52]

list1.sort()

print("greatest number is :", list1[-1])

greatest number is : 69

***Write a python script to sort a list given by user***

In [ ]:
list

Largest element is: 99

***
tuple: is a sequence
in list we use subscript []
in tuple we use ()
in list we can change (mutable)
but in tuple there is no change (immutable)
***
A tuple is a finite, ordered list of elements, or mathematical objects, called elements of the tuple.
***
There are a number of cases where you want to store data which is imutable

: for instance the RGB values of a given colour, or the co-ordinates of a given map square.

It makes sense
for a programmer to use immutable structure
when the data should be immutable. How to create tuple:
how to create tuple:
t=()
is a empty tuple
but when t=[10,]
it is a tuple
***

***
t = (10,5.7,"xyz")
t[0] =>10
t[1]> 5.7
t[2] => xyz
t[3]=> error
how to access tuple elements
loop or slicing operator
t=(10,20,30,40,50)
1-0
while i<len(t):
print(t[i])
1+-1
***

***
using for loop for i in t: print(i) // print square of all elements for i int t: print(ii)
slicing operator
everytime we use slicing on tuple, it will create a new tuple it will not change in existing tuple
t (10,20,30,40)
t[0::]
(10,20,30,40)
(beg:end: step] / step value by default increment by 1

t=t+(100,200)
t=(10,20,30,40,100,200)
t[0: :
***

packing and un packing in tuple
a = 10
b = 20
C = 30
d=(a,b,c) // packing
x,y,zed // un packing

concatenation operator

a-1,2,3
b=4,5,6
a+b
{1,2,3,4,5,6}

note: a and b never changed it just
GLO
1

In [ ]:
#tuple operations
t=(10,20,30,40,30)
t=t+(110,220,30)
print(t)
k=len(t)
print('length = ',k)

print('highest element = ', max(t))
print('lowest element = ',min(t))
print('sorted elements of tuple', sorted(t))
print('total sum of all elements are = ',sum(t))
print('element 30 found at = ', t.index (30))
print('element 30 appears in tuple = ',t.count(30),' times')

(10, 20, 30, 40, 30, 110, 220, 30)
length =  8
highest element =  220
lowest element =  10
sorted elements of tuple [10, 20, 30, 30, 30, 40, 110, 220]
total sum of all elements are =  490
element 30 found at =  2
element 30 appears in tuple =  3  times

In [ ]:
x=eval(input('enter a tuple'))
for i in x:
  print(i)

enter a tuple10

TypeError: 'int' object is not iterable

In [ ]:
# store 3 records in tuple and print the same
data=(('meera', 21,98.55), ('raghav',20,99.0), ('amit', 21,95.5))
for n,a,m in data:
  print('name=',n,' ', 'age = ',a ,'','marks = ',m)

name= meera   age =  21  marks =  98.55
name= raghav   age =  20  marks =  99.0
name= amit   age =  21  marks =  95.5

***06/04/2024***

In [ ]:
words={} #empty dictionary
l =['a','b', 'c', 'd']
for x in l:
  print("Enter word for letter",x)
  words [x] =input()
print(words)

Enter word for letter a
meghana
Enter word for letter b
rudhra
Enter word for letter c
ammulu
Enter word for letter d
ammu
{'a': 'meghana', 'b': 'rudhra', 'c': 'ammulu', 'd': 'ammu'}

#creation of dictionary:

Dictionary
Dictionaries are used to store data values in key:value pairs.

  roll, name => we have to create a key with its value. each element in dict is a pair of key and value such as roll is a key as it must not be same but name is the value which may same
  for each key.
  key --- value
  1. key must be unique
  2. value can be repeat
  3. key and value may be hetrogeneous
  4. key and value may be any type
  5. indexing is not possible
  6. slicing operator do not work here.
  7. cannot gurantee of orderof storage of key-value in the dictionary.
  8. dictionary is mutable, ie. we can add, delete, edit
  9. it can grow or shrink

d= () empty dictionary
or
d=dict() // method // constructor
dict with value:
d={100:'amit', 101: 'rahul', 102: 'meera'}
we can keep key as string
d={'A': "apple", "B": "ball")
or
ddict (one="Delhi", two="Mumbai")
#here above dict is a method (constructor) in which we dont give #single quote on key value.
access of dictionary value:==>
d[:one'] // it will print Delhi
d={1:'A',2: 'B',3: 'C'}
d[4]='D'
now D is added at last
now if, we write:
d[1]='x' then in dict key can not be duplicated.
then it replace / edit the d[1] key with 'x' which was old 'A'
then when we print d it will print 1:'x'....
access all elements of dict: for k in d: print('key', k, 'value =',d[k]) #in k, key values are copy in k one by one

Q)create a dictionary called students containing names and ages. copy the dictionary into stud.
empty the students dictionary, as stud continues to hold the data.

In [ ]:
# How to remove key in dict:
del('c') # error
del (words['c']) # del (dictionary-name [key])
functions
words.clear()
now words will be empty
copy:
d={1:'a',2: 'b'}
d1= d.copy()
dl is a shallow copy is just a name which implies as it is copy d to di so, they both are different location, to prove this, write: dis dl (it will produce, false)
fromkeys():
1st=[1,2,3]
d. fromkeys (1st, "ABC")
so, (1:"ABC",2:"ABC", 3: "ABC"}
but not change in d
hence, we have to write:
d2=d.fromkeys (1, "abc")
now d2 has all these
get ():
d2.get(2) # d2 [2]

In [ ]:
#create a dict for name and contacts and print it in appropriate format
contacts={
'amit': 9811665544, 'suman':889977656, 'rishi':999997655, 'gaurav':9654334455}
for name, cellno in contacts.items():
  print (f' {name:15}:{cellno:10d}')

 amit           :9811665544
 suman          : 889977656
 rishi          : 999997655
 gaurav         :9654334455

In [ ]:
r,l,b=1.5678,10.5,12.55
print('radius={0} length ={1} breadth={2}'.format(r,l,b))
print('length={1} breadth={2} radius={0}'.format(r,l,b))

radius=1.5678 length =10.5 breadth=12.55
length=10.5 breadth=12.55 radius=1.5678

In [ ]:
#nested dict

d={
    'rishi':{'salary': 10000, 'age':20, 'height':6},
    'vikas':{'salary': 6000, 'age': 21, 'height':5.6},
    'gaurav':{'salary': 8000, 'age': 22, 'height':6.4}
    }
lst=[]
for v in d.values():
  print (v)
  lst.append(v['salary'])
print("list element "+str(lst))
print("sum total of salary = rishi + vikas + gaurav ")

print(max (lst))
print (min (lst))
print(sum(lst))
for t in d.keys():

  print(t)

{'salary': 10000, 'age': 20, 'height': 6}
{'salary': 6000, 'age': 21, 'height': 5.6}
{'salary': 8000, 'age': 22, 'height': 6.4}
list element [10000, 6000, 8000]
sum total of salary = rishi + vikas + gaurav
10000
6000
24000
rishi
vikas
gaurav

In [ ]:
#dict ascending and desceding printint on key ?

d={'pen':20, 'pencil':10, 'ink':50, 'notebook':35}
print('original dictionary:',d)
d1=sorted (d.items())
print('ascending order by key',d1)
d2=sorted (d.items(),reverse=True)
print('descending order by key:',d2)

original dictionary: {'pen': 20, 'pencil': 10, 'ink': 50, 'notebook': 35}
ascending order by key [('ink', 50), ('notebook', 35), ('pen', 20), ('pencil', 10)]
descending order by key: [('pencil', 10), ('pen', 20), ('notebook', 35), ('ink', 50)]

In [ ]:
#takes something & returns nothing
def sum(i,j):
  c=i+j
  print("sum = ",c)

x=int(input('enter first value '))
y=int(input('enter second value'))
sum (x,y)
print('calling second time ')
x=int(input('enter first value '))
y=int(input('enter second value'))
sum (x,y)

'''
1. calculate square of a number
2. swap of a number
3. find the greatest of two numbers
'''

enter first value 9
enter second value5
sum =  14
calling second time
i>=j or j>=i
enter first value 5
enter second value4
sum =  9

'\n1. calculate square of a number\n2. swap of a number\n3. find the greatest of two numbers\n'

In [ ]:
#takes something and returns something
def add(i,j):
  k = i+j
  return (k)

i=int(input('enter first number'))
j=int(input('enter second number'))
p=add(i,j) # here, x and y are treated as an parameters or an arguments.
print('sum=',p)

enter first number17
enter second number10
sum= 27

In [ ]:
#function with example of takes nothing and returns nothing
def add():
  a=int(input('enter first number'))
  b=int(input('enter second number'))
  c=a+b
  print('sum=',c)
add() #function called
print('second time i am calling add')
add ()
print('third time i am calling add')
add ()

enter first number17
enter second number20
sum= 37
second time i am calling add
enter first number40
enter second number60
sum= 100
third time i am calling add
enter first number55
enter second number55
sum= 110

In [ ]:
def comp(a,b):
  if(a>b):
        print('A is greater')
  elif (b>a):
      print('B is greater')
  else:
      print('The values of A and B is the same')
a=int(input("Enter the value for A:"))
b=int(input("Enter the value FOR B:"))
comp (a,b)
a=int(input("Enter the value for A:"))
b=int(input("Enter the value FOR B:"))
print('Calling the comp function for the second time')
comp(a,b)

Enter the value for A:5
Enter the value FOR B:5
The values of A and B is the same
Enter the value for A:4
Enter the value FOR B:7
Calling the comp function for the second time
B is greater

***file handeling***
-2 types of files
*text file
*binary file
-binary file for video,audio,image editing
-text file for .txt,.dat,.py files

-steps of file handeling
1)open a file
2)processing(reading/writing)
3)close file

-open
open(file-name,mode):filename is string and mode is also string,
file name will create a file in the current directed by default.
open ('e:\myfile\pythonprograms\stock.txt','r')

-modes of file
r,w,a,r+,w+,a+,x
r=reading only(file already exists open read)
w=write only(file created open data would vanish....write new)

In [ ]:
msg1="do python----\n"
msg2="to become a free bird-----\n"
msg3=input("enter few lines about yourself")
f=open('hello.txt','w')
f.write(msg1)
f.write(msg2)
f.write(msg3)

f.close()

f=open('hello.txt','r')
datal=f.read()
print(datal)
f.close()

enter few lines about yourselfmy name is meghana. i m purcuing BCA 2nd sem
do python----
to become a free bird-----
my name is meghana. i m purcuing BCA 2nd sem

'''
write a file copy program in python, content of file 1 to be copied to file 2
'''

In [ ]:
msg1="do python----\n"
msg2="to become a free bird-----\n"
msg3=input("enter few lines about yourself")
f=open('hello.txt','w')
f.write(msg1)
f.write(msg2)
f.write(msg3)

f.close()

f=open('hello.txt','r')
datal=f.read()
print(datal)
f.close()

msg1a="do python----\n"
msg2b="to become a free bird-----\n"
msg3c=input("msg3")
f=open('hello.txt','w')
f.write(msg1a)
f.write(msg2b)
f.write(msg3c)

f.close()

f=open('hello.txt','r')
datal=f.read()
print(datal)
f.close()

enter few lines about yourselfmeghana
do python----
to become a free bird-----
meghana
msg3travelling
do python----
to become a free bird-----
travelling

In [ ]:
def copy_file_content(source_file, target_file):
    try:
        with open(source_file, 'r') as source:
            content = source.read()
            with open(target_file, 'w') as target:
                target.write(content)
        print(f"Content from '{source_file}' has been copied to '{target_file}'.")
    except FileNotFoundError:
        print("Error: One or both files not found.")

# Usage example
source_filename = 'file1.txt'
target_filename = 'file2.txt'
copy_file_content(source_filename, target_filename)

Error: One or both files not found.